In [8]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('./src/route_data/gps/asc2022/stage1_ckpt1.csv')
# df.latitude.values
df

,type,latitude,longitude,altitude (ft),course,slope (%),distance (mi),distance_interval (ft),color,opacity,width,scale,sym,name,desc
0,T,39.092185,-94.417077,1045.4,NaN,NaN,0.000,NaN,#0288d1,1.0,1.2,NaN,NaN,A. Independence to Topeka,NaN
1,T,39.092184,-94.417187,1045.0,NaN,-2.6,0.006,31.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T,39.092197,-94.417811,1041.0,NaN,-2.6,0.039,177.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T,39.092212,-94.418348,1036.0,NaN,-2.6,0.068,152.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T,39.092216,-94.418486,1034.8,NaN,-2.6,0.076,39.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2617,T,39.037653,-95.673454,893.1,287.3,0.7,102.145,22.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2618,T,39.037895,-95.674316,892.2,288.4,1.0,102.195,260.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2619,T,39.038100,-95.675036,899.2,289.1,0.9,102.236,217.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2620,T,39.038138,-95.675183,900.5,289.7,0.9,102.244,43.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2621,T,39.038337,-95.675887,899.9,289.9,1.6,102.285,212.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df['course'].fillna(method='bfill')

0       271.7
1       271.7
2       271.7
3       271.7
4       271.7
        ...
2617    287.3
2618    288.4
2619    289.1
2620    289.7
2621    289.9
Name: course, Length: 2622, dtype: float64

In [7]:
from datetime import datetime, date
datetime(2022, 8, 3).timestamp()

1659510000.0

In [1]:
from src.util import *
import matplotlib.pyplot as plt

weather = request_weather(39, 95, day_start=datetime(2022, 8, 2), days_ahead=2)
# plt.plot(weather.solar)
# weather.solar

https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/39,95/1659423600/1659596400?key=EV46FMPWPYGL2S8ACVGD6LMT3

JSONDecodeError: Expecting value: line 1 column 1 (char 0)